manifest {
    name            = 'angelovangel/nxf-alignment'
    author          = 'aangeloo@gmail.com'
    homePage        = 'https://github.com/angelovangel/nxf-alignment'
    defaultBranch   = 'main'
    description     = 'A Nextflow workflow for basecalling, aligning, and analyzing long-read sequencing data (ONT)'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04'
    version         = 'v0.2.3'
}


params {

    outdir = 'output'
    model = 'fast'
    help = ""
    
    pod5 = null
    bed = null
    reads = null // Parameter for reads when basecalling is skipped
    ref = null // when alignment is skipped
    asfile = null
    
    variants = false
    clair3_platform = "ont"
    // ont, hifi, ilmn
    clair3_model = "r1041_e82_400bps_hac_v500"
    // r1041_e82_400bps_hac_v410, r1041_e82_400bps_hac_v500, r1041_e82_400bps_sup_v410, r1041_e82_400bps_sup_v500, r1041_e82_400bps_sup_v430_bacteria_finetuned
    // hifi_revio, hifi_sequel2
    // ilmn 

    // barcoded case
    kit = null
    samplesheet = null //csv with columns sample,barcode
}

profiles {
    standard {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process {
            withName: 'DORADO_BASECALL|DORADO_BASECALL_BARCODING|CLAIR3' {
                containerOptions = '-u $(id -u):$(id -g) --gpus all'
            }
        }
    }
    
    test {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        
        params.pod5 = "${projectDir}/demo/pod5"
        params.asfile = "${projectDir}/demo/as_decisions.csv"
        params.model = "fast"

        params.ref = "${projectDir}/demo/ref.fasta"
        params.bed = "${projectDir}/demo/regions.bed"
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$HOME/singularity-cache"
        process {
           withName: 'DORADO_BASECALL|DORADO_BASECALL_BARCODING|CLAIR3' {
               containerOptions = '--nv'
           }
        }
    }

    revio {
        params.clair3_platform = "hifi"
        params.clair3_model = "hifi_revio"
    }
}