
params {

    outdir = 'results'
    model = 'fast'
    
    // 
    bedfile = null
    reads = null // Parameter for reads when basecalling is skipped
    

    // if adaptive sampling file is set then dorado basecalls only these reads
    asfile = null

    // barcoded case
    kit = null
    samplesheet = null //csv with columns minimum sample,barcode
}

profiles {
    standard {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) --gpus all'
    }
    
    test {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        
        params.pod5 = "${projectDir}/data/pod5"
        params.asfile = "${projectDir}/data/as_decisions.csv"
        params.model = "fast"

        params.reference = "${projectDir}/data/ref.fasta"
        params.bedfile = "${projectDir}/data/regions.bed"
    }
}