manifest {
    name            = 'angelovangel/nxf-alignment'
    author          = 'aangeloo@gmail.com'
    homePage        = 'https://github.com/angelovangel/nxf-alignment'
    defaultBranch   = 'main'
    description     = 'A Nextflow workflow for basecalling, aligning, and analyzing long-read sequencing data (ONT)'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04'
    version         = 'v0.2.1'
}


params {

    outdir = 'output'
    model = 'fast'
    help = ""
    
    bed = null
    reads = null // Parameter for reads when basecalling is skipped
    ref = null // when alignment is skipped
    asfile = null

    // barcoded case
    kit = null
    samplesheet = null //csv with columns sample,barcode
}

profiles {
    standard {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process {
            withName: 'DORADO_BASECALL|DORADO_BASECALL_BARCODING' {
                containerOptions = '-u $(id -u):$(id -g) --gpus all'
            }
        }
    }
    
    test {
        params.pod5 = "${projectDir}/demo/pod5"
        params.asfile = "${projectDir}/demo/as_decisions.csv"
        params.model = "fast"

        params.ref = "${projectDir}/demo/ref.fasta"
        params.bed = "${projectDir}/demo/regions.bed"
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$HOME/singularity-cache"
        process {
           withName: 'DORADO_BASECALL|DORADO_BASECALL_BARCODING' {
               containerOptions = '--nv'
           }
        }
    }
}